.footer-div {
    font-size: 14px;    
}

.ingram-logo {
    margin-left: -25px;
}
.footer-row .align-right {
  text-align: right;
  display: block;
}
.footer-div span {
  color: var(--mutedblue) !important;
}


