.linearGrad {
    // height: 200px;
    background-color: white; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #486576, #1A394B);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.resetButton {
    background-color: white !important;
}