<h1> SKU / Category </h1>

<div class="p-fluid p-grid">


    <div class="p-field p-col-2">
        <span class="p-float-label">
            <p-dropdown id="ddFunder" [options]="funders" [(ngModel)]="selectedFunder" [showClear]="true"
                optionLabel="funderName" optionValue="id" placeholder="Select a Funder"></p-dropdown>

        </span>
    </div>
    <div class="p-field p-col-2">
        <span class="p-float-label">
            <p-dropdown id="ddProductType" [options]="productTypes" [(ngModel)]="selectedProductType" [showClear]="true"
                optionLabel="description" optionValue="code" placeholder="Select a Product Type"></p-dropdown>

        </span>
    </div>
    <div class="p-field p-col-2">
        <span class="p-float-label">
            <p-dropdown id="ddFinanceType" [options]="financeTypes" [(ngModel)]="selectedFinanceType" [showClear]="true"
                optionLabel="description" optionValue="quoteDurationType" placeholder="Select a Finance Type">
            </p-dropdown>

        </span>
    </div>

    <div class="p-field p-col-2">
        <span class="p-float-label">
            <!-- <p-dropdown id="ddVendor" [options]="vendors" [(ngModel)]="selectedVendor" [showClear]="true"
                optionLabel="vendorCode" optionValue="id" placeholder="Select a Vendor"></p-dropdown> -->
            <p-dropdown id="ddVendor" [options]="vendors" [(ngModel)]="selectedVendor" [showClear]="true"
                optionLabel="vendorCode" optionValue="id" placeholder="Select a Vendor">
                <ng-template let-vendor pTemplate="item">
                    <div>{{vendor.vendorCode}} - {{vendor.vendorName}} </div>
                </ng-template>
            </p-dropdown>

        </span>
    </div>

    <div class="p-field p-col-1">
        <button pButton label="Load Rate" (click)="loadRates()"></button>
    </div>
    <div class="p-field p-col-1">
        <button pButton label="Export" class="p-button-success p-ripple" (click)="exportRates()"></button>

    </div>
    <div class="p-field p-col-1">
        <button pButton label="Upload" class="p-button-warning p-ripple" (click)="uploadRates()"></button>

    </div>


    <div class="p-field p-col-12">

        <p-table #dt1 [value]="rates" [style]="{'width':'100%'}" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50]" [paginator]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th class="width-100" pSortableColumn="typeDescription">Type <p-sortIcon field="typeDescription"></p-sortIcon>
                    </th>
                    <th class="width-150" pSortableColumn="categoryDescription">Category <p-sortIcon field="categoryDescription">
                        </p-sortIcon>
                    </th>
                    <th class="width-150" pSortableColumn="vendorName">Vendor <p-sortIcon field="vendorName"></p-sortIcon>
                    </th>
                    <th class="width-150" pSortableColumn="imSKUID">ImSKU<p-sortIcon field="imSKUID"></p-sortIcon>
                    </th>
                    <th class="width-150" pSortableColumn="vendorSKUID">VendorSKU<p-sortIcon field="vendorSKUID">
                        </p-sortIcon>
                    </th>
                    <th class="background-1 align-center" colspan="3">12 months</th>
                    <th class="background-2 align-center" colspan="3">24 months</th>
                    <th class="background-1 align-center" colspan="3">36 months</th>
                    <th class="background-2 align-center" colspan="3">48 months</th>
                    <th class="background-1 align-center" colspan="3">60 months</th>
                    <th class="background-1 width-75 align-center">Action</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="typeDescription" matchMode="contains"
                            [showMatchModes]="false" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="categoryDescription" matchMode="contains"
                            [showMatchModes]="false" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="vendorName" matchMode="contains" [showMatchModes]="false"
                            [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="imSKUID" matchMode="contains" [showMatchModes]="false"
                            [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="vendorSKUID" matchMode="contains" [showMatchModes]="false"
                            [showMenu]="false"></p-columnFilter>
                    </th>
                    <th class="background-1 align-center">Monthly</th>
                    <th class="background-1 align-center">Quarterly</th>
                    <th class="background-1 align-center">Upfront</th>
                    <th class="background-2 align-center">Monthly</th>
                    <th class="background-2 align-center">Quarterly</th>
                    <th class="background-2 align-center">Upfront</th>
                    <th class="background-1 align-center">Monthly</th>
                    <th class="background-1 align-center">Quarterly</th>
                    <th class="background-1 align-center">Upfront</th>
                    <th class="background-2 align-center">Monthly</th>
                    <th class="background-2 align-center">Quarterly</th>
                    <th class="background-2 align-center">Upfront</th>
                    <th class="background-1 align-center">Monthly</th>
                    <th class="background-1 align-center">Quarterly</th>
                    <th class="background-1 align-center">Upfront</th>
                    <th class="background-1"></th>

            </ng-template>
            <ng-template pTemplate="body" let-rate let-editing="editing">
                <tr>
                    <td>{{rate.typeDescription}}</td>
                    <td [pTooltip]="rate.categoryDescription" class="one-line-span">{{rate.categoryDescription}}</td>
                    <td [pTooltip]="rate.vendorName" class="one-line-span">
                        <div *ngIf="rate.vendorCode">{{rate.vendorCode}} - {{rate.vendorName}}</div>
                        <div *ngIf="!rate.vendorCode">{{rate.vendorName}}</div>
                    </td>
                    <td>{{rate.imSKUID}}</td>
                    <td>{{rate.vendorSKUID}}</td>                    
                    <td class="align-right background-1">{{rate.months12Monthly}}</td>
                    <td class="align-right background-1">{{rate.months12Quarterly}}</td>
                    <td class="align-right background-1">{{rate.months12Upfront}}</td>
                    <td class="align-right background-2">{{rate.months24Monthly}}</td>
                    <td class="align-right background-2">{{rate.months24Quarterly}}</td>
                    <td class="align-right background-2">{{rate.months24Upfront}}</td>
                    <td class="align-right background-1">{{rate.months36Monthly}}</td>
                    <td class="align-right background-1">{{rate.months36Quarterly}}</td>
                    <td class="align-right background-1">{{rate.months36Upfront}}</td>
                    <td class="align-right background-2">{{rate.months48Monthly}}</td>
                    <td class="align-right background-2">{{rate.months48Quarterly}}</td>
                    <td class="align-right background-2">{{rate.months48Upfront}}</td>
                    <td class="align-right background-1">{{rate.months60Monthly}}</td>
                    <td class="align-right background-1">{{rate.months60Quarterly}}</td>
                    <td class="align-right background-1">{{rate.months60Upfront}}</td>
                    <td class="align-center background-1">
                        <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editQuoteRate(rate)"
                            class="p-button-rounded p-button-text"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editQuoteRate(null)"
        class="p-button-rounded p-button-text"></button> -->
    </div>

    <app-quote-rate-details-modal #detailsModal (refreshEmit)="loadRates()"></app-quote-rate-details-modal>
    <app-quote-rate-upload-modal #uploadModal (refreshEmit)="uploadRates()"></app-quote-rate-upload-modal>