.linearGrad {
    // height: 200px;
    background-color: #b2b2b2; /* For browsers that do not support gradients */
    // background-image: linear-gradient(to right, #486576, #1A394B);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.resetButton {
    background-color: #000 !important;
    border-color: #000;
    color: #FFF;
}
.resetButton {
    padding: 0.6em 0.7em 0.6em !important;
}
.resetButton:hover, .resetButton:focus {
    color: #FFF !important;
    background-color: #555 !important;
    border-color: #555 !important;
}